<div role="main" tabindex="-1" class="UtePc RCETm SwuGbc" dir="ltr" aria-hidden="false">
    <section id="h.4c9baa13a60a963f_15" class="yaqOZd" style="">
        <div class="IFuOkc"></div>
        <div class="mYVXT">
            <div class="LS81yb VICjCf j5pSsc db35Fc" tabindex="-1">
                <div class="hJDwNd-AhqUyc-uQSCkd Ft7HRd-AhqUyc-uQSCkd purZT-AhqUyc-II5mzb ZcASvf-AhqUyc-II5mzb pSzOP-AhqUyc-qWD73c Ktthjf-AhqUyc-qWD73c JNdkSc SQVYQc">
                    <div class="JNdkSc-SmKAyb LkDMRd">
                        <div class="" jscontroller="sGwD4d" jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;" jsname="F57UId">
                            <div class="oKdM2c ZZyype Kzv0Me">
                                <div id="h.4c9baa13a60a963f_33"
                                     class="hJDwNd-AhqUyc-uQSCkd Ft7HRd-AhqUyc-uQSCkd jXK9ad D2fZ2 zu5uec OjCsFc dmUFtb wHaque g5GTcb JYTMs">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd mGzaTb Depvyb baZpAe">
                                            <div id="h.oklloik60z0q" class="Ap4VC aP9Z7e"></div>
                                            <h1 id="h.oklloik60z0q_l" dir="ltr" class="CDt4Ke zfr3Q duRjpb"
                                                style="text-align: center;" tabindex="-1">
                                                <div jscontroller="Ae65rd"
                                                     jsaction="touchstart:UrsOsc; click:KjsqPd; focusout:QZoaZ; mouseover:y0pDld; mouseout:dq0hvd;fv1Rjc:jbFSOd;CrfLRd:SzACGe;"
                                                     class="CjVfdc">
                                                    <span style="font-variant: normal;">Architecture Overview</span>
                                                </div>
                                            </h1>
                                            <p dir="ltr" class="CDt4Ke zfr3Q"
                                               style="background-color: transparent; border-bottom: none; border-left: none; border-right: none; border-top: none; line-height: 1.92; margin-bottom: 0; margin-left: 53pt; margin-right: 53pt; margin-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: justify; text-indent: 0; white-space: normal;">
                                                <br></p>
                                            <p dir="ltr" class="CDt4Ke zfr3Q"
                                               style="background-color: transparent; border-bottom: none; border-left: none; border-right: none; border-top: none; line-height: 1.92; margin-bottom: 0; margin-left: 53pt; margin-right: 53pt; margin-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: justify; text-indent: 0; white-space: normal;">
                                                <span style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; font-weight: normal; text-decoration: normal; vertical-align: baseline;">Hybris Commerce package  is flexible and module base solution. Hybris provide ready to used solution , it includes everything working ready for you but need to branding  &amp; customize as per requirement. SAP Hybris Accelerator is designed to provide the platform and architecture of SAP Hybris Commerce that helps in reducing cost of development and speeds up the implementation process.</span>
                                            </p>
                                            <div id="h.ofuvxk9cmm9s" class="GV3q8e aP9Z7e"></div>
                                            <h3 id="h.ofuvxk9cmm9s_l" dir="ltr" class="CDt4Ke zfr3Q OmQG5e"
                                                style="background-color: transparent; border-bottom: none; border-left: none; border-right: none; border-top: none; line-height: 1.5; margin-bottom: 0; margin-left: 53pt; margin-right: 53pt; margin-top: 15pt; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: left; text-indent: 0;"
                                                tabindex="-1">
                                                <div jscontroller="Ae65rd"
                                                     jsaction="touchstart:UrsOsc; click:KjsqPd; focusout:QZoaZ; mouseover:y0pDld; mouseout:dq0hvd;fv1Rjc:jbFSOd;CrfLRd:SzACGe;"
                                                     class="CjVfdc">
                                                    <span class=" OGiC0d"
                                                          style="color: #1c4587; font-family: 'Arial'; font-style: normal; text-decoration: normal; vertical-align: baseline;"><strong>Basic Architecture</strong></span>
                                                </div>
                                            </h3>
                                            <p dir="ltr" class="CDt4Ke zfr3Q"
                                               style="background-color: transparent; border-bottom: none; border-left: none; border-right: none; border-top: none; line-height: 1.92; margin-bottom: 0; margin-left: 53pt; margin-right: 53pt; margin-top: 11pt; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: left; text-indent: 0;">
                                                <span style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; font-weight: normal; text-decoration: normal; vertical-align: baseline;">Hybris product is divided into multiple components according to the following areas:</span>
                                            </p>
                                            <ul class="n8H08c UVNKR"
                                                style="list-style-type: square; margin-left: 0; margin-right: 0; padding: 0;">
                                                <li dir="ltr" class="TYR86d zfr3Q" style="margin-left: 60pt;"><p
                                                        dir="ltr" class="CDt4Ke zfr3Q"
                                                        style="line-height: 1.2; margin-left: 0; margin-right: 53pt; padding-left: 0; text-align: left; text-indent: 0;">
                                                    <span style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; text-decoration: normal; vertical-align: baseline;"><strong>Platform</strong></span><span
                                                        style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; font-weight: normal; text-decoration: normal; vertical-align: baseline;"> : It is contain set of extensions those provide main functionality of a hybris installation.</span>
                                                </p></li>
                                                <li dir="ltr" class="TYR86d zfr3Q" style="margin-left: 60pt;"><p
                                                        dir="ltr" class="CDt4Ke zfr3Q"
                                                        style="line-height: 1.2; margin-left: 0; margin-right: 53pt; padding-left: 0; text-align: left; text-indent: 0;">
                                                    <span style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; text-decoration: normal; vertical-align: baseline;"><strong>Commerce</strong></span><span
                                                        style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; font-weight: normal; text-decoration: normal; vertical-align: baseline;"> : It provide commerce  functionalities extensions and manage channel specific business logic and processes.</span>
                                                </p></li>
                                                <li dir="ltr" class="TYR86d zfr3Q" style="margin-left: 60pt;"><p
                                                        dir="ltr" class="CDt4Ke zfr3Q"
                                                        style="line-height: 1.2; margin-left: 0; margin-right: 53pt; padding-left: 0; text-align: left; text-indent: 0;">
                                                    <span style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; text-decoration: normal; vertical-align: baseline;"><strong>Content</strong></span><span
                                                        style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; font-weight: normal; text-decoration: normal; vertical-align: baseline;"> : It is centralized repository of content information, web content, text , template  layouts, and more.</span>
                                                </p></li>
                                                <li dir="ltr" class="TYR86d zfr3Q" style="margin-left: 60pt;"><p
                                                        dir="ltr" class="CDt4Ke zfr3Q"
                                                        style="line-height: 1.2; margin-left: 0; margin-right: 53pt; padding-left: 0; text-align: left; text-indent: 0;">
                                                    <span style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; text-decoration: normal; vertical-align: baseline;"><strong>Orders : </strong></span><span
                                                        style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; font-weight: normal; text-decoration: normal; vertical-align: baseline;">It is provide order management and fulfillment logic and processes. It has necessary information about purchased products , addresses, payment methods, promotions and fulfillment etc.</span>
                                                </p></li>
                                                <li dir="ltr" class="TYR86d zfr3Q" style="margin-left: 60pt;"><p
                                                        dir="ltr" class="CDt4Ke zfr3Q"
                                                        style="line-height: 1.2; margin-left: 0; margin-right: 53pt; padding-left: 0; text-align: left; text-indent: 0;">
                                                    <span style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; text-decoration: normal; vertical-align: baseline;"><strong>Channel :</strong></span><span
                                                        style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; font-weight: normal; text-decoration: normal; vertical-align: baseline;"> It provides management of channel specific visualization and interaction.</span>
                                                </p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="h.4c9baa13a60a963f_47" class="yaqOZd" style="">
        <div class="IFuOkc"></div>
        <div class="mYVXT">
            <div class="LS81yb VICjCf j5pSsc db35Fc" tabindex="-1">
                <div class="hJDwNd-AhqUyc-ibL1re Ft7HRd-AhqUyc-ibL1re JNdkSc SQVYQc L6cTce-purZT L6cTce-pSzOP">
                    <div class="JNdkSc-SmKAyb LkDMRd">
                        <div class="" jscontroller="sGwD4d" jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;"
                             jsname="F57UId"></div>
                    </div>
                </div>
                <div class="hJDwNd-AhqUyc-OiUrBf Ft7HRd-AhqUyc-OiUrBf purZT-AhqUyc-II5mzb ZcASvf-AhqUyc-II5mzb pSzOP-AhqUyc-qWD73c Ktthjf-AhqUyc-qWD73c JNdkSc SQVYQc">
                    <div class="JNdkSc-SmKAyb LkDMRd">
                        <div class="" jscontroller="sGwD4d" jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;" jsname="F57UId">
                            <div class="oKdM2c ZZyype Kzv0Me">
                                <div id="h.4c9baa13a60a963f_44"
                                     class="hJDwNd-AhqUyc-OiUrBf Ft7HRd-AhqUyc-OiUrBf jXK9ad D2fZ2 zu5uec OjCsFc dmUFtb wHaque g5GTcb">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd baZpAe">
                                            <div class="t3iYD"><img
                                                    src="https://lh4.googleusercontent.com/VeeuOy5SxJi2pSlSTw-GLxBy0sg20b9JSSaNlfHg_m3PRu8Eez8Io9xOodNLE4lhaOKJiHNWV7Y04yFW9xvk3-IPShXyS-Nov-Uaz3btZCMZGMwgo0SF7fO9IN75odqzBw=w1280"
                                                    class="CENy8b" role="img"
                                                    style="width: 100%; margin: -0.0000003129% 0 -0.0000003129% 0%"
                                                    alt="SAP Hybris component architecture"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hJDwNd-AhqUyc-ibL1re Ft7HRd-AhqUyc-ibL1re JNdkSc SQVYQc L6cTce-purZT L6cTce-pSzOP">
                    <div class="JNdkSc-SmKAyb LkDMRd">
                        <div class="" jscontroller="sGwD4d" jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;"
                             jsname="F57UId"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="h.4c9baa13a60a963f_40" class="yaqOZd" style="">
        <div class="IFuOkc"></div>
        <div class="mYVXT">
            <div class="LS81yb VICjCf j5pSsc db35Fc" tabindex="-1">
                <div class="hJDwNd-AhqUyc-uQSCkd Ft7HRd-AhqUyc-uQSCkd purZT-AhqUyc-II5mzb ZcASvf-AhqUyc-II5mzb pSzOP-AhqUyc-qWD73c Ktthjf-AhqUyc-qWD73c JNdkSc SQVYQc">
                    <div class="JNdkSc-SmKAyb LkDMRd">
                        <div class="" jscontroller="sGwD4d" jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;" jsname="F57UId">
                            <div class="oKdM2c ZZyype Kzv0Me">
                                <div id="h.4c9baa13a60a963f_43"
                                     class="hJDwNd-AhqUyc-uQSCkd Ft7HRd-AhqUyc-uQSCkd jXK9ad D2fZ2 zu5uec OjCsFc dmUFtb wHaque g5GTcb JYTMs">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd mGzaTb Depvyb baZpAe"><p dir="ltr" class="CDt4Ke zfr3Q"
                                                                                    style="background-color: transparent; border-bottom: none; border-left: none; border-right: none; border-top: none; line-height: 1.92; margin-bottom: 0; margin-left: 53pt; margin-right: 53pt; margin-top: 11pt; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: left; text-indent: 0;">
                                            <span style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; font-weight: normal; text-decoration: normal; vertical-align: baseline;">These modules are package for specified business functionality. Hybris Platform is base of modules and can run individual, but other modules can not run without platform. The Hybris Commerce Suite manage data like content  or product information to be shared for multiple channels in a consistent and efficient way. Business can grow sell on multiple channels like web , Mobile and store etc.</span>
                                        </p>
                                            <div id="h.genw3tn8kd1x" class="GV3q8e aP9Z7e"></div>
                                            <h3 id="h.genw3tn8kd1x_l" dir="ltr" class="CDt4Ke zfr3Q OmQG5e"
                                                style="background-color: transparent; border-bottom: none; border-left: none; border-right: none; border-top: none; line-height: 1.5; margin-bottom: 0; margin-left: 53pt; margin-right: 53pt; margin-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: left; text-indent: 0;"
                                                tabindex="-1">
                                                <div jscontroller="Ae65rd"
                                                     jsaction="touchstart:UrsOsc; click:KjsqPd; focusout:QZoaZ; mouseover:y0pDld; mouseout:dq0hvd;fv1Rjc:jbFSOd;CrfLRd:SzACGe;"
                                                     class="CjVfdc">
                                                    <span class=" OGiC0d"
                                                          style="color: #1c4587; font-family: 'Arial'; font-style: normal; text-decoration: normal; vertical-align: baseline;"><strong>Layer Architecture</strong></span>
                                                </div>
                                            </h3>
                                            <p dir="ltr" class="CDt4Ke zfr3Q"
                                               style="background-color: transparent; border-bottom: none; border-left: none; border-right: none; border-top: none; line-height: 1.92; margin-bottom: 0; margin-left: 53pt; margin-right: 53pt; margin-top: 11pt; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: left; text-indent: 0;">
                                                <span style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; font-weight: normal; text-decoration: normal; vertical-align: baseline;">The hybris Commerce Suite contains multiple layers and each layer has specific functionality.</span>
                                            </p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="h.4c9baa13a60a963f_26" class="yaqOZd" style="">
        <div class="IFuOkc"></div>
        <div class="mYVXT">
            <div class="LS81yb VICjCf j5pSsc db35Fc" tabindex="-1">
                <div class="hJDwNd-AhqUyc-ibL1re Ft7HRd-AhqUyc-ibL1re JNdkSc SQVYQc L6cTce-purZT L6cTce-pSzOP">
                    <div class="JNdkSc-SmKAyb LkDMRd">
                        <div class="" jscontroller="sGwD4d" jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;"
                             jsname="F57UId"></div>
                    </div>
                </div>
                <div class="hJDwNd-AhqUyc-Clt0zb Ft7HRd-AhqUyc-Clt0zb purZT-AhqUyc-II5mzb ZcASvf-AhqUyc-II5mzb pSzOP-AhqUyc-qWD73c Ktthjf-AhqUyc-qWD73c JNdkSc SQVYQc yYI8W HQwdzb">
                    <div class="JNdkSc-SmKAyb LkDMRd">
                        <div class="" jscontroller="sGwD4d" jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;" jsname="F57UId">
                            <div class="oKdM2c ZZyype Kzv0Me">
                                <div id="h.4c9baa13a60a963f_29"
                                     class="hJDwNd-AhqUyc-Clt0zb Ft7HRd-AhqUyc-Clt0zb jXK9ad D2fZ2 zu5uec OjCsFc dmUFtb">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd baZpAe">
                                            <div class="t3iYD"><img
                                                    src="https://lh4.googleusercontent.com/dFbObucI_JlKxoj2fR79_1Jw-0jJTh8U5TMDFeSx8kngGorcDgfKbjA54G541xXHymg2JEBNOJM4CCkqP84KncPOGF2sZJgRrISe8KBSSq0tUuOIEzS8by66RyLQLifpgQ=w1280"
                                                    class="CENy8b" role="img"
                                                    style="width: 100.0000034748%; margin: 0% 0 0% -0.0000017374%"
                                                    alt="SAP Hybris layer architecture"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="oKdM2c ZZyype">
                                <div id="h.3a46d5c429ecad08_29"
                                     class="hJDwNd-AhqUyc-Clt0zb Ft7HRd-AhqUyc-Clt0zb jXK9ad D2fZ2 zu5uec wHaque g5GTcb QaN0Zc QjXeod">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd baZpAe">
                                            <div class="t3iYD"><img
                                                    src="https://lh5.googleusercontent.com/AsmQ46GtNA9JLplqrR3TLNj0GOOgV188ePxla3882IFfH3hTJwq9ZVDHgBYohqmXPTD_pFWwejjRl3lh0rZI06qn9sBBYAvBjyWP-D3_J0j9yzgPXHYJxbCGSU6mdaLu=w1280"
                                                    class="CENy8b" role="img"
                                                    style="width: 100%; margin: -0.0000001898% 0 -0.0000001898% 0%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hJDwNd-AhqUyc-R6PoUb Ft7HRd-AhqUyc-R6PoUb JNdkSc SQVYQc L6cTce-purZT L6cTce-pSzOP">
                    <div class="JNdkSc-SmKAyb LkDMRd">
                        <div class="" jscontroller="sGwD4d" jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;"
                             jsname="F57UId"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="h.31ed73d82e503fbd_31" class="yaqOZd" style="">
        <div class="IFuOkc"></div>
        <div class="mYVXT">
            <div class="LS81yb VICjCf j5pSsc db35Fc" tabindex="-1">
                <div class="hJDwNd-AhqUyc-uQSCkd Ft7HRd-AhqUyc-uQSCkd purZT-AhqUyc-II5mzb ZcASvf-AhqUyc-II5mzb pSzOP-AhqUyc-qWD73c Ktthjf-AhqUyc-qWD73c JNdkSc SQVYQc">
                    <div class="JNdkSc-SmKAyb LkDMRd">
                        <div class="" jscontroller="sGwD4d" jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;" jsname="F57UId">
                            <div class="oKdM2c ZZyype Kzv0Me">
                                <div id="h.31ed73d82e503fbd_28"
                                     class="hJDwNd-AhqUyc-uQSCkd Ft7HRd-AhqUyc-uQSCkd jXK9ad D2fZ2 zu5uec OjCsFc dmUFtb wHaque g5GTcb JYTMs">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd mGzaTb Depvyb baZpAe">
                                            <div id="h.nuq8erck08ps" class="GV3q8e aP9Z7e"></div>
                                            <h3 id="h.nuq8erck08ps_l" dir="ltr" class="CDt4Ke zfr3Q OmQG5e"
                                                style="background-color: transparent; border-bottom: none; border-left: none; border-right: none; border-top: none; line-height: 1.5; margin-bottom: 0; margin-left: 53pt; margin-right: 53pt; margin-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: left; text-indent: 0;"
                                                tabindex="-1">
                                                <div jscontroller="Ae65rd"
                                                     jsaction="touchstart:UrsOsc; click:KjsqPd; focusout:QZoaZ; mouseover:y0pDld; mouseout:dq0hvd;fv1Rjc:jbFSOd;CrfLRd:SzACGe;"
                                                     class="CjVfdc">
                                                    <span class=" OGiC0d"
                                                          style="color: #1c4587; font-family: 'Arial'; font-style: normal; text-decoration: normal; vertical-align: baseline;"><strong>Modes of operation</strong></span>
                                                </div>
                                            </h3>
                                            <p dir="ltr" class="CDt4Ke zfr3Q"
                                               style="background-color: transparent; border-bottom: none; border-left: none; border-right: none; border-top: none; line-height: 1.92; margin-bottom: 0; margin-left: 53pt; margin-right: 53pt; margin-top: 11pt; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: left; text-indent: 0;">
                                                <span style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; font-weight: normal; text-decoration: normal; vertical-align: baseline;">Hybris Commerce Suite support three different modes :</span>
                                            </p>
                                            <ol class="n8H08c BKnRcf"
                                                style="list-style-type: decimal; margin-left: 0; margin-right: 0; padding: 0;">
                                                <li dir="ltr" class="TYR86d zfr3Q" style="margin-left: 60pt;"><p
                                                        dir="ltr" class="CDt4Ke zfr3Q"
                                                        style="line-height: 1.92; margin-left: 0; margin-right: 53pt; padding-left: 0; text-align: left; text-indent: 0;">
                                                    <span style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; text-decoration: normal; vertical-align: baseline;"><strong>Single Mode</strong></span>
                                                </p></li>
                                                <li dir="ltr" class="TYR86d zfr3Q" style="margin-left: 60pt;"><p
                                                        dir="ltr" class="CDt4Ke zfr3Q"
                                                        style="line-height: 1.92; margin-left: 0; margin-right: 53pt; padding-left: 0; text-align: left; text-indent: 0;">
                                                    <span style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; text-decoration: normal; vertical-align: baseline;"><strong>Cluster Mode</strong></span>
                                                </p></li>
                                                <li dir="ltr" class="TYR86d zfr3Q" style="margin-left: 60pt;"><p
                                                        dir="ltr" class="CDt4Ke zfr3Q"
                                                        style="line-height: 1.92; margin-left: 0; margin-right: 53pt; padding-left: 0; text-align: left; text-indent: 0;">
                                                    <span style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; text-decoration: normal; vertical-align: baseline;"><strong>Multi-Tenant Mode</strong></span>
                                                </p></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="h.6fadc82252ac8be4_0" class="yaqOZd" style="">
        <div class="IFuOkc"></div>
        <div class="mYVXT">
            <div class="LS81yb VICjCf j5pSsc db35Fc" tabindex="-1">
                <div class="hJDwNd-AhqUyc-II5mzb Ft7HRd-AhqUyc-II5mzb purZT-AhqUyc-II5mzb ZcASvf-AhqUyc-II5mzb pSzOP-AhqUyc-II5mzb Ktthjf-AhqUyc-II5mzb JNdkSc SQVYQc yYI8W HQwdzb">
                    <div class="JNdkSc-SmKAyb LkDMRd">
                        <div class="" jscontroller="sGwD4d" jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;" jsname="F57UId">
                            <div class="oKdM2c ZZyype Kzv0Me">
                                <div id="h.6fadc82252ac8be4_22"
                                     class="hJDwNd-AhqUyc-II5mzb Ft7HRd-AhqUyc-II5mzb pSzOP-AhqUyc-II5mzb Ktthjf-AhqUyc-II5mzb jXK9ad D2fZ2 zu5uec OjCsFc dmUFtb">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd baZpAe">
                                            <div class="t3iYD"><img
                                                    src="https://lh4.googleusercontent.com/NrNxaHHyxUDbZVbG6n6TDmAdfhiPGIziWH_v8MNtKSqetlcUcURQDk7vTDG_zkopvcAWW3gTRGhrPOIrK4uNFGUdJdkK_Ia4UCqKRsmZnz1_w_PP6XJrvCmPCOar2bKy3A=w1280"
                                                    class="CENy8b" role="img"
                                                    style="width: 100.0000032648%; margin: 0% 0 0% -0.0000016324%"
                                                    alt="Single Mode | Experts Hybris"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="oKdM2c ZZyype">
                                <div id="h.6fadc82252ac8be4_5"
                                     class="hJDwNd-AhqUyc-II5mzb Ft7HRd-AhqUyc-II5mzb pSzOP-AhqUyc-II5mzb Ktthjf-AhqUyc-II5mzb jXK9ad D2fZ2 zu5uec JYTMs">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd mGzaTb Depvyb baZpAe"><p dir="ltr" class="CDt4Ke zfr3Q"
                                                                                    style="background-color: transparent; border-bottom: none; border-left: none; border-right: none; border-top: none; line-height: 1.92; margin-bottom: 0; margin-left: 53pt; margin-right: 53pt; margin-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: center; text-indent: 0;">
                                            <span style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; text-decoration: normal; vertical-align: baseline;"><strong>Single Mode</strong></span>
                                        </p></div>
                                    </div>
                                </div>
                            </div>
                            <div class="oKdM2c ZZyype">
                                <div id="h.6fadc82252ac8be4_7"
                                     class="hJDwNd-AhqUyc-II5mzb Ft7HRd-AhqUyc-II5mzb pSzOP-AhqUyc-II5mzb Ktthjf-AhqUyc-II5mzb jXK9ad D2fZ2 zu5uec wHaque g5GTcb JYTMs">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd mGzaTb Depvyb baZpAe"><p dir="ltr" class="CDt4Ke zfr3Q"
                                                                                    style="background-color: transparent; border-bottom: none; border-left: none; border-right: none; border-top: none; line-height: 1.92; margin-bottom: 0; margin-left: 15pt; margin-right: 53pt; margin-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: justify; text-indent: 0; white-space: normal;">
                                            <span style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; font-weight: normal; text-decoration: normal; vertical-align: baseline;">Single mode is basic mode. one machine is running one instance of a hybris Commerce Suite is called single mode.</span>
                                        </p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hJDwNd-AhqUyc-II5mzb Ft7HRd-AhqUyc-II5mzb purZT-AhqUyc-II5mzb ZcASvf-AhqUyc-II5mzb pSzOP-AhqUyc-II5mzb Ktthjf-AhqUyc-II5mzb JNdkSc SQVYQc yYI8W HQwdzb">
                    <div class="JNdkSc-SmKAyb LkDMRd">
                        <div class="" jscontroller="sGwD4d" jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;" jsname="F57UId">
                            <div class="oKdM2c ZZyype Kzv0Me">
                                <div id="h.6fadc82252ac8be4_23"
                                     class="hJDwNd-AhqUyc-II5mzb Ft7HRd-AhqUyc-II5mzb pSzOP-AhqUyc-II5mzb Ktthjf-AhqUyc-II5mzb jXK9ad D2fZ2 zu5uec OjCsFc dmUFtb">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd baZpAe">
                                            <div class="t3iYD"><img
                                                    src="https://lh3.googleusercontent.com/zciUA-UkAgmgtkro-Cy1OexRix5CXCow80-ypjzrHL5OGNoXGu6d3k0U6wA5Dh7tm_TgTMOo55uQju4MNtJJOgD8_AA8gO4HaFn3m1R3LEAUSgzcncaXZBl1Ch59XfDONw=w1280"
                                                    class="CENy8b" role="img"
                                                    style="width: 100%; margin: -0.0000004674% 0 -0.0000004674% 0%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="oKdM2c ZZyype">
                                <div id="h.6fadc82252ac8be4_12"
                                     class="hJDwNd-AhqUyc-II5mzb Ft7HRd-AhqUyc-II5mzb pSzOP-AhqUyc-II5mzb Ktthjf-AhqUyc-II5mzb jXK9ad D2fZ2 zu5uec JYTMs">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd mGzaTb Depvyb baZpAe"><p dir="ltr" class="CDt4Ke zfr3Q"
                                                                                    style="background-color: transparent; border-bottom: none; border-left: none; border-right: none; border-top: none; line-height: 1.92; margin-bottom: 0; margin-left: 0; margin-right: 53pt; margin-top: 11pt; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: left; text-indent: 0;">
                                            <span style="color: #212121; font-family: 'Arial';"><strong>               </strong></span><span
                                                style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; text-decoration: normal; vertical-align: baseline;"><strong>Cluster Mode</strong></span>
                                        </p></div>
                                    </div>
                                </div>
                            </div>
                            <div class="oKdM2c ZZyype">
                                <div id="h.6fadc82252ac8be4_14"
                                     class="hJDwNd-AhqUyc-II5mzb Ft7HRd-AhqUyc-II5mzb pSzOP-AhqUyc-II5mzb Ktthjf-AhqUyc-II5mzb jXK9ad D2fZ2 zu5uec wHaque g5GTcb JYTMs">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd mGzaTb Depvyb baZpAe"><p dir="ltr" class="CDt4Ke zfr3Q"
                                                                                    style="background-color: transparent; border-bottom: none; border-left: none; border-right: none; border-top: none; line-height: 1.92; margin-bottom: 0; margin-left: 0; margin-right: 53pt; margin-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: justify; text-indent: 0; white-space: normal;">
                                            <span style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; font-weight: normal; text-decoration: normal; vertical-align: baseline;">Hybris Commerce  Suite support to Cluster mode means multiple Hybris Commerce  Suite running several individual nodes. but all nodes access a common database. This is a multi-node, cross-linked version of Single Node.</span>
                                        </p>
                                            <p dir="ltr" class="CDt4Ke zfr3Q" style="text-align: center;"><br></p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hJDwNd-AhqUyc-II5mzb Ft7HRd-AhqUyc-II5mzb purZT-AhqUyc-II5mzb ZcASvf-AhqUyc-II5mzb pSzOP-AhqUyc-II5mzb Ktthjf-AhqUyc-II5mzb JNdkSc SQVYQc yYI8W HQwdzb">
                    <div class="JNdkSc-SmKAyb LkDMRd">
                        <div class="" jscontroller="sGwD4d" jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;" jsname="F57UId">
                            <div class="oKdM2c ZZyype Kzv0Me">
                                <div id="h.6fadc82252ac8be4_24"
                                     class="hJDwNd-AhqUyc-II5mzb Ft7HRd-AhqUyc-II5mzb pSzOP-AhqUyc-II5mzb Ktthjf-AhqUyc-II5mzb jXK9ad D2fZ2 zu5uec OjCsFc dmUFtb">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd baZpAe">
                                            <div class="t3iYD"><img
                                                    src="https://lh3.googleusercontent.com/yARRqaPjpKBQOxNrN0xx31aXDy5yvJ7DkPBaGobvwT7c3VErDSL3nhU61wBTPURfkhW52447HIKzoL5Qeg96Vj5h7EP3M5qZ-tn2p8KtMzn-j6N7lFhOHtGNly7rk4Bn=w1280"
                                                    class="CENy8b" role="img"
                                                    style="width: 100%; margin: -0.0000010435% 0 -0.0000010435% 0%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="oKdM2c ZZyype">
                                <div id="h.6fadc82252ac8be4_19"
                                     class="hJDwNd-AhqUyc-II5mzb Ft7HRd-AhqUyc-II5mzb pSzOP-AhqUyc-II5mzb Ktthjf-AhqUyc-II5mzb jXK9ad D2fZ2 zu5uec JYTMs">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd mGzaTb Depvyb baZpAe"><p dir="ltr" class="CDt4Ke zfr3Q"
                                                                                    style="background-color: transparent; border-bottom: none; border-left: none; border-right: none; border-top: none; line-height: 1.92; margin-bottom: 0; margin-left: 0; margin-right: 53pt; margin-top: 11pt; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: left; text-indent: 0;">
                                            <span style="color: #212121; font-family: 'Arial';"><strong>       </strong></span><span
                                                style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; text-decoration: normal; vertical-align: baseline;"><strong>Multi-Tenant Mode</strong></span>
                                        </p></div>
                                    </div>
                                </div>
                            </div>
                            <div class="oKdM2c ZZyype">
                                <div id="h.6fadc82252ac8be4_21"
                                     class="hJDwNd-AhqUyc-II5mzb Ft7HRd-AhqUyc-II5mzb pSzOP-AhqUyc-II5mzb Ktthjf-AhqUyc-II5mzb jXK9ad D2fZ2 zu5uec wHaque g5GTcb JYTMs">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd mGzaTb Depvyb baZpAe"><p dir="ltr" class="CDt4Ke zfr3Q"
                                                                                    style="background-color: transparent; border-bottom: none; border-left: none; border-right: none; border-top: none; line-height: 1.92; margin-bottom: 0; margin-left: 0; margin-right: 53pt; margin-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: justify; text-indent: 0; white-space: normal;">
                                            <span style="color: #212121; font-family: 'Arial'; font-size: 11pt; font-style: normal; font-weight: normal; text-decoration: normal; vertical-align: baseline;">Hybris Commerce Suite support  to Multi-Tenant Mode that allows using several individual, separated sets of data separated by database table prefixes. Multi-Tenant Mode can be used for Single mode and Cluster Mode operation.</span>
                                        </p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
